.container {
  display: block;
}

.row {
  margin-top: 1.5rem;
}

.row:first-of-type {
  margin-top: 1rem;
}

.topActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topActions svg {
  cursor: pointer;
}

.filename {
  color: var(--font-color-primary);
  font-size: 18px;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.size {
  color: var(--font-color-secondary);
  font-size: 14px;
  font-weight: 500;
  margin-top: 0.25rem;
  text-transform: uppercase;
}

.heading {
  margin-bottom: 0.5rem;
}

.information {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  justify-content: space-between;
  border-top: 1px solid var(--color-border);
  color: var(--font-color-secondary);
  padding: 1rem 0;
}

.informationValue {
  color: var(--font-color-primary);
}

.information:last-of-type {
  border-bottom: 1px solid var(--color-border);
}

.description {
  color: var(--font-color-secondary);
  font-size: 14px;
  font-weight: 500;
}

.favorited {
  width: 18px;
  height: 100%;
}

.image {
  width: 320px;
  height: 210px;
}

/* XXSmall */
@media (max-width: 433px) {
  .image {
    height: 200px;
    width: 100%;
  }
}

/* XSmall */
@media (min-width: 434px) and (max-width: 480px) {
  .image {
    height: 240px;
    width: 100%;
  }
}

/* Small */
@media (min-width: 481px) and (max-width: 689px) {
  .image {
    height: 40%;
    width: 100%;
  }
}
