.container {
  display: grid;
  max-width: 150px;
}

.container.selected img {
  outline: 2px solid var(--color-highlight);
  outline-offset: 2px;
}

.filename {
  color: var(--font-color-primary);
  font-size: 14px;
  font-weight: 500;
  margin-top: 0.25rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.size {
  color: var(--font-color-secondary);
  font-size: 14px;
  margin-top: 0.25rem;
  text-transform: uppercase;
}
