.container {
  display: flex;
  flex-direction: column;
  width: auto;
}

.container img {
  cursor: pointer;
}

.selected img {
  outline: 2px solid var(--color-highlight);
  outline-offset: 2px;
}

.filename {
  color: var(--font-color-primary);
  font-size: 14px;
  font-weight: 500;
  margin-top: 0.25rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.size {
  color: var(--font-color-secondary);
  font-size: 14px;
  margin-top: 0.25rem;
  text-transform: uppercase;
}

.image {
  height: 140px;
  width: 180px;
}

/* XXSmall */
@media (max-width: 433px) {
  .image {
    height: 200px;
    width: 100%;
  }
}

/* XSmall */
@media (min-width: 434px) and (max-width: 480px) {
  .image {
    height: 140px;
    width: 100%;
  }
}

/* Small */
@media (min-width: 481px) and (max-width: 700px) {
  .image {
    height: 160px;
    width: 100%;
  }
}

/* Medium */
@media (min-width: 701px) and (max-width: 1120px) {
  .image {
    height: 160px;
    width: 100%;
  }
}
