.button {
  background-color: var(--white);
  border: 1px solid var(--color-border);
  border-radius: 5px;
  color: #334154;
  font-weight: 600;
  padding: 0.75rem 0;
  overflow: hidden;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  appearance: none;
  cursor: pointer;
}

.button:hover {
  background-color: var(--off-white);
}

.button:active {
  background-color: var(--color-border);
}

.button:focus {
  outline: 2px solid var(--color-highlight);
  outline-offset: 2px;
}
