:root {
  --max-width: 1400px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --font-color-primary: #10172a;
  --font-color-secondary: #64748b;
  --color-highlight: #4f45e4;
  --color-faded: #e2e8ef;
  --color-border: #cbd5e1;
  --white: #ffffff;
  --off-white: #f7fafc;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--font-color-primary);
}

a {
  color: inherit;
  text-decoration: none;
}
