.container {
  background-color: var(--white);
  height: 100%;
  min-height: 100vh;
  border-left: 1px;
  width: 0;
}

.desktop {
  composes: container;
}

.desktop.open {
  width: 384px;
  opacity: 1;
  padding: 2rem;
  transition: width 250ms;
}

.mobile {
  composes: container;
  overflow: scroll;
}

.mobile.open {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  padding: 1rem;
  z-index: 10;
}

.closeButton {
  width: 20px;
  height: 100%;
  margin-bottom: 1rem;
}
